@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}

#root > div > nav > div > div > div.nav-item.show.dropdown > div {
  border: none;
  background: #eee;
}

#root > div > nav > div > div > div.nav-item.show.dropdown > div * {
  background: #eee;
}
